---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=dGeSGTDtwd1VJYgdWav6AmAhLJT9wIAD&location=%7B%22location%22=%3E%22denver,co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 00:02:40 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"denver,co\"}"},"locations":[{"street":"Denver
        Lane","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Louisville-Jefferson
        County","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"KY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"40258","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p2/1652853","unknownInput":"","type":"s","latLng":{"lat":38.17368,"lng":-85.8849},"displayLatLng":{"lat":38.17368,"lng":-85.8849},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=dGeSGTDtwd1VJYgdWav6AmAhLJT9wIAD&type=map&size=225,160&locations=38.17368,-85.8849|marker-sm-50318A-1&scalebar=true&zoom=15&rand=666520525"},{"street":"Denver
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Osage","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"65536","geocodeQualityCode":"B3CCA","geoc[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=75a561462fd539c41cc78bc5502e126a&exclude=minutely&lat=38.17368&lon=-85.8849&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.1737,"lon":-85.8849,"timezone":"America/Kentucky/Louisville","timezone_offset":-14400,"current":{"dt":1660089761,"sunrise":1660042389,"sunset":1660092301,"temp":82.78,"feels_like":89.28,"pressure":1016,"humidity":75,"dew_point":74.05,"uvi":0.13,"clouds":75,"visibility":10000,"wind_speed":11.5,"wind_deg":250,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1660089600,"temp":82.78,"feels_like":89.28,"pressure":1016,"humidity":75,"dew_point":74.05,"uvi":0.13,"clouds":75,"visibility":10000,"wind_speed":3.89,"wind_deg":262,"wind_gust":4.12,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.8},{"dt":1660093200,"temp":81.61,"feels_like":87.4,"pressure":1016,"humidity":78,"dew_point":74.08,"uvi":0,"clouds":69,"visibility":10000,"wind_speed":2.21,"wind_deg":311,"wind_gust":2.37,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.67},{"dt":1660096800,"temp":79.97,"feels_like":79.97,"pressure":1016,"humidity":81,"dew_point":73.62,"uvi":0,"clouds":70,"visibility":10000,"wind_speed":2.42,"wind_deg":359,"wind_gust":2.48,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.75},{"dt":1660100400,"temp":77.95,"feels_like":79.45,"pressure":1017,"humidity":85,"dew_point":73.08,"uvi":0,"clouds":74,"visibility":10000,"wind_speed":2.84,"wind_deg":48,"wind_gust":2.91,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.78,"rain":{"1h":0.38}},{"dt":1660104000,"temp":75.92,"feels_like":77.45,"pressure":1017,"humidity":90,"dew_point":72.77,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":2.95,"wind_deg":60,"wind_gust":3.56,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.78},{"dt":1660107600,"temp":73.27,"feels_like":74.77,"pressure":1017,"humidity":95,"dew_point":71.11,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":2.42,"wind_deg":74,"wind_gust":3.2,"weather":[{"id"[...]
